<div id="logo-desktop">
   <svg
   width="238px"
   height="44px"
   viewBox="0 0 1237.7064 228.93921"
   version="1.1"
   id="svg18"
   inkscape:version="1.1.2 (b8e25be833, 2022-02-05)"
   sodipodi:docname="logo desktop.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview20"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="true"
     showguides="true"
     inkscape:zoom="0.14928528"
     inkscape:cx="3419.6272"
     inkscape:cy="525.83886"
     inkscape:window-width="1280"
     inkscape:window-height="658"
     inkscape:window-x="-6"
     inkscape:window-y="-6"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1">
    <inkscape:grid
       type="xygrid"
       id="grid13078"
       originx="10.583332"
       originy="1.3975582" />
  </sodipodi:namedview>
  <defs
     id="defs15">
    <rect
       x="204.96114"
       y="71.49807"
       width="9.5330763"
       height="255.00978"
       id="rect12358" />
    <rect
       x="185.89497"
       y="395.62265"
       width="2.3832691"
       height="104.86383"
       id="rect9994" />
  </defs>

  <g class="change-fill"
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(34.923424,-10.743444)">
    <rect
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke-width:0.264583"
       id="rect56"
       width="236.46495"
       height="124.8535"
       x="-12.989775"
       y="90.962662" />
    <text
       xml:space="preserve"
       transform="matrix(0.26458333,0,0,0.26458333,-24.340092,12.141003)"
       id="text9992"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect9994);fill:#ffffff;fill-opacity:1;stroke:none" />
    <text
       xml:space="preserve"
       transform="matrix(0.26458333,0,0,0.26458333,-24.340092,12.141003)"
       id="text12356"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect12358);fill:#ffffff;fill-opacity:1;stroke:none" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke-width:0.313113"
       id="rect13197"
       width="285.75"
       height="75.480888"
       x="-34.394268"
       y="32.778503"
       ry="6.8618994" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke-width:0.132541"
       id="rect13197-4"
       width="100.54166"
       height="38.439224"
       x="55.034908"
       y="10.743444"
       ry="3.4944751" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke-width:0.267507"
       id="rect13321"
       width="243.41667"
       height="132.29166"
       x="-13.756759"
       y="107.391" />
    <rect
       style="fill:#000000;fill-opacity:1;stroke-width:0.0704556"
       id="rect13197-4-2"
       width="68.791679"
       height="15.875"
       x="70.909897"
       y="22.724339"
       ry="1.4431819" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:132.997px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.276492"
       x="36.734234"
       y="193.55103"
       id="text2396-1"
       transform="scale(1.0309277,0.97000013)"><tspan
         sodipodi:role="line"
         id="tspan2394-9"
         style="font-size:132.997px;fill:#ffffff;stroke-width:0.276492"
         x="36.734234"
         y="193.55103">Work is changing</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:132.716px;line-height:1.25;font-family:sans-serif;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.276492"
       x="36.734337"
       y="193.55106"
       id="text2396"
       transform="scale(1.0309277,0.97000013)"><tspan
         sodipodi:role="line"
         id="tspan2394"
         style="font-size:132.716px;fill:#000000;stroke-width:0.276492"
         x="36.734337"
         y="193.55106">Wo</tspan></text>
  </g>
</svg>
</div>

<div id="logo-desktop">
   <svg
   width="238px"
   height="44px"
   viewBox="0 0 1237.7064 228.93921"
   version="1.1"
   id="svg18"
   inkscape:version="1.1.2 (b8e25be833, 2022-02-05)"
   sodipodi:docname="logo desktop.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview20"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="true"
     showguides="true"
     inkscape:zoom="0.14928528"
     inkscape:cx="3419.6272"
     inkscape:cy="525.83886"
     inkscape:window-width="1280"
     inkscape:window-height="658"
     inkscape:window-x="-6"
     inkscape:window-y="-6"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1">
    <inkscape:grid
       type="xygrid"
       id="grid13078"
       originx="10.583332"
       originy="1.3975582" />
  </sodipodi:namedview>
  <defs
     id="defs15">
    <rect
       x="204.96114"
       y="71.49807"
       width="9.5330763"
       height="255.00978"
       id="rect12358" />
    <rect
       x="185.89497"
       y="395.62265"
       width="2.3832691"
       height="104.86383"
       id="rect9994" />
  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(34.923424,-10.743444)">
    <rect
       style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke-width:0.264583"
       id="rect56"
       width="236.46495"
       height="124.8535"
       x="-12.989775"
       y="90.962662" />
    <text
       xml:space="preserve"
       transform="matrix(0.26458333,0,0,0.26458333,-24.340092,12.141003)"
       id="text9992"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect9994);fill:#000000;fill-opacity:1;stroke:none" />
    <text
       xml:space="preserve"
       transform="matrix(0.26458333,0,0,0.26458333,-24.340092,12.141003)"
       id="text12356"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect12358);fill:#000000;fill-opacity:1;stroke:none" />
    <rect
       style="fill:#000000;fill-opacity:1;stroke-width:0.313113"
       id="rect13197"
       width="285.75"
       height="75.480888"
       x="-34.394268"
       y="32.778503"
       ry="6.8618994" />
    <rect
       style="fill:#000000;fill-opacity:1;stroke-width:0.132541"
       id="rect13197-4"
       width="100.54166"
       height="38.439224"
       x="55.034908"
       y="10.743444"
       ry="3.4944751" />
    <rect
       style="fill:#000000;fill-opacity:1;stroke-width:0.267507"
       id="rect13321"
       width="243.41667"
       height="132.29166"
       x="-13.756759"
       y="107.391" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke-width:0.0704556"
       id="rect13197-4-2"
       width="68.791679"
       height="15.875"
       x="70.909897"
       y="22.724339"
       ry="1.4431819" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:132.997px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.276492"
       x="36.734234"
       y="193.55103"
       id="text2396-1"
       transform="scale(1.0309277,0.97000013)"><tspan
         sodipodi:role="line"
         id="tspan2394-9"
         style="font-size:132.997px;fill:#000000;stroke-width:0.276492"
         x="36.734234"
         y="193.55103">Work is changing</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:132.716px;line-height:1.25;font-family:sans-serif;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.276492"
       x="36.734337"
       y="193.55106"
       id="text2396"
       transform="scale(1.0309277,0.97000013)"><tspan
         sodipodi:role="line"
         id="tspan2394"
         style="font-size:132.716px;fill:#ffffff;stroke-width:0.276492"
         x="36.734337"
         y="193.55106">Wo</tspan></text>
  </g>
</svg>
</div>
<div id="logo-mobile" class="hidden">
   <?xml version="1.0" encoding="UTF-8" standalone="no"?>
   <!-- Created with Inkscape (http://www.inkscape.org/) -->
   
   <svg
      width="11.25in"
      height="9.0133543in"
      viewBox="0 0 285.74997 228.9392"
      version="1.1"
      id="svg18"
      inkscape:version="1.1.2 (b8e25be833, 2022-02-05)"
      sodipodi:docname="test.svg"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg">
     <sodipodi:namedview
        id="namedview20"
        pagecolor="#ffffff"
        bordercolor="#666666"
        borderopacity="1.0"
        inkscape:pageshadow="2"
        inkscape:pageopacity="0.0"
        inkscape:pagecheckerboard="0"
        inkscape:document-units="mm"
        showgrid="true"
        showguides="true"
        inkscape:zoom="0.14928528"
        inkscape:cx="3044.5065"
        inkscape:cy="840.6723"
        inkscape:window-width="1280"
        inkscape:window-height="658"
        inkscape:window-x="-6"
        inkscape:window-y="-6"
        inkscape:window-maximized="1"
        inkscape:current-layer="layer1"
        width="1237.7064mm"
        units="in">
       <inkscape:grid
          type="xygrid"
          id="grid13078"
          originx="10.054182"
          originy="84.802118" />
     </sodipodi:namedview>
     <defs
        id="defs15">
       <rect
          x="204.96114"
          y="71.49807"
          width="9.5330763"
          height="255.00978"
          id="rect12358" />
       <rect
          x="185.89497"
          y="395.62265"
          width="2.3832691"
          height="104.86383"
          id="rect9994" />
     </defs>
     <g
        inkscape:label="Layer 1"
        inkscape:groupmode="layer"
        id="layer1"
        transform="translate(34.394268,-10.743444)">
       <rect
          style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke-width:0.264583"
          id="rect56"
          width="236.46495"
          height="124.8535"
          x="-12.989775"
          y="90.962662" />
       <text
          xml:space="preserve"
          transform="matrix(0.26458333,0,0,0.26458333,-24.340092,12.141003)"
          id="text9992"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect9994);fill:#000000;fill-opacity:1;stroke:none" />
       <text
          xml:space="preserve"
          transform="matrix(0.26458333,0,0,0.26458333,-24.340092,12.141003)"
          id="text12356"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect12358);fill:#000000;fill-opacity:1;stroke:none" />
       <rect
          style="fill:#000000;fill-opacity:1;stroke-width:0.313113"
          id="rect13197"
          width="285.75"
          height="75.480888"
          x="-34.394268"
          y="32.778503"
          ry="6.8618994" />
       <rect
          style="fill:#000000;fill-opacity:1;stroke-width:0.132541"
          id="rect13197-4"
          width="100.54166"
          height="38.439224"
          x="55.034908"
          y="10.743444"
          ry="3.4944751" />
       <rect
          style="fill:#000000;fill-opacity:1;stroke-width:0.267507"
          id="rect13321"
          width="243.41667"
          height="132.29166"
          x="-13.756759"
          y="107.391" />
       <rect
          style="fill:#ffffff;fill-opacity:1;stroke-width:0.0704556"
          id="rect13197-4-2"
          width="68.791679"
          height="15.875"
          x="70.909897"
          y="22.724339"
          ry="1.4431819" />
       <text
          xml:space="preserve"
          style="font-style:normal;font-weight:normal;font-size:132.997px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.276492"
          x="36.734234"
          y="193.55103"
          id="text2396-1"
          transform="scale(1.0309277,0.97000013)"><tspan
            sodipodi:role="line"
            id="tspan2394-9"
            style="font-size:132.997px;fill:#000000;stroke-width:0.276492"
            x="36.734234"
            y="193.55103" /></text>
       <text
          xml:space="preserve"
          style="font-style:normal;font-weight:normal;font-size:132.716px;line-height:1.25;font-family:sans-serif;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.276492"
          x="36.734337"
          y="193.55106"
          id="text2396"
          transform="scale(1.0309277,0.97000013)"><tspan
            sodipodi:role="line"
            id="tspan2394"
            style="font-size:132.716px;fill:#ffffff;stroke-width:0.276492"
            x="36.734337"
            y="193.55106">W</tspan></text>
     </g>
   </svg>
</div>
