
<!DOCTYPE html>
<html>
<head>
    <title>Inkscape Output</title>
</head>
<body>
    <canvas id='canvas' width='97' height='12'></canvas>
    <script>
    var ctx = document.getElementById("canvas").getContext("2d");
    	
// #layer1
	ctx.save();
	ctx.transform(1.000000, 0.000000, 0.000000, 1.000000, -36.089800, -61.754400);
	
// #text48418
	ctx.fillStyle = 'rgb(0, 0, 0)';
	ctx.lineWidth = 0.070004;
	ctx.font = "normal normal 10.5833px sans-serif";
	ctx.fillText("WorkWork ", 37.203823, 70.624199);
	ctx.restore();

    </script>
</body>
</html>
