<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="97.034004mm"
   height="12.742019mm"
   viewBox="0 0 97.034004 12.742019"
   version="1.1"
   id="svg5"
   inkscape:version="1.1.2 (b8e25be833, 2022-02-05)"
   sodipodi:docname="WorkLogo.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="false"
     inkscape:zoom="0.41959175"
     inkscape:cx="260.96795"
     inkscape:cy="227.60219"
     inkscape:window-width="1280"
     inkscape:window-height="658"
     inkscape:window-x="-6"
     inkscape:window-y="-6"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" />
  <defs
     id="defs2">
    <filter
       style="color-interpolation-filters:sRGB"
       inkscape:label="Drop Shadow"
       id="filter62552"
       x="-0.012721316"
       y="-0.12088231"
       width="1.028623"
       height="1.2921322">
      <feFlood
         flood-opacity="0.498039"
         flood-color="rgb(0,0,0)"
         result="flood"
         id="feFlood62542" />
      <feComposite
         in="flood"
         in2="SourceGraphic"
         operator="in"
         result="composite1"
         id="feComposite62544" />
      <feGaussianBlur
         in="composite1"
         stdDeviation="0.5"
         result="blur"
         id="feGaussianBlur62546" />
      <feOffset
         dx="0.3"
         dy="0.5"
         result="offset"
         id="feOffset62548" />
      <feComposite
         in="SourceGraphic"
         in2="offset"
         operator="over"
         result="composite2"
         id="feComposite62550" />
    </filter>
  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-36.089829,-61.754437)">
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:10.5833px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583;filter:url(#filter62552)"
       x="37.203823"
       y="70.624199"
       id="text48418"><tspan
         sodipodi:role="line"
         id="tspan48416"
         style="stroke-width:0.264583"
         x="37.203823"
         y="70.624199"><tspan
   style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:'Rockwell Extra Bold';-inkscape-font-specification:'Rockwell Extra Bold,  Bold';fill:#ffff00"
   id="tspan55962">Work</tspan> <tspan
   style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Rounded MT Bold';-inkscape-font-specification:'Arial Rounded MT Bold, '"
   id="tspan71364">is changing</tspan></tspan></text>
  </g>
</svg>
